.paddingTB20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.paddingTB40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.paddingTB80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.border {
  border: 1px solid red;
}
.bg-green {
  background-color: #146d6d;
  color: #fff;
}
.bg-green h1 {
  color: #fff;
}
.bg-green h2 {
  color: #fff;
}
.bg-green h3 {
  color: #fff;
}
.container {
  max-width: 1250px;
  width: 100%;
}
.container p {
  max-width: 950px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
#header #header-logo {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}
#header nav {
  display: flex;
}
#header nav a {
  padding-left: 20px;
  padding-right: 20px;
  color: #474747;
  text-transform: capitalize;
  text-decoration: none;
}
#header nav a:after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 3px;
  margin-top: 5px;
  background-color: #474747;
  transition: 300ms;
}
#header nav a:hover {
  text-decoration: none;
}
#header nav a:hover:after {
  width: 100%;
}
h2 {
  font-size: 36px;
  color: #000;
  padding-bottom: 20px;
  font-weight: 600;
}
#banner {
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: 77vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#banner .overlay-dark {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
  position: absolute;
  z-index: 10;
}
#banner img {
  height: 77vh;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  position: absolute;
  z-index: 9;
}
#banner h1 {
  color: #fff;
  font-size: 50px;
  z-index: 20;
  font-weight: 600;
}
#banner p {
  font-size: 18px;
  color: #fff;
  z-index: 20;
  padding-bottom: 40px;
}
#banner .buttons {
  z-index: 20;
}
#banner .button {
  padding: 15px 20px;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  width: 180px;
  z-index: 20;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
}
#banner .button:first-of-type {
  margin-right: 40px;
}
#banner .button:hover {
  background-color: #fff;
  color: #000;
}
#banner .button.green {
  background-color: #146d6d;
  border: 2px solid #146d6d;
}
#banner .button.green:hover {
  background-color: #24c7c7;
  border: 1px solid #24c7c7;
  color: #fff;
}
.carousel {
  margin-top: 40px;
}
.carousel .carousel-inner .carousel-item img {
  float: left;
  max-height: 500px;
}
.carousel .carousel-inner .carousel-item .testimonial {
  padding: 0 0 0 40px;
  max-width: 60%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  max-height: 500px;
}
.carousel .carousel-inner .carousel-item .testimonial h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}
.carousel .carousel-inner .carousel-item .testimonial .perex {
  font-size: 14px;
  padding-bottom: 20px;
}
.carousel .carousel-inner .carousel-item .testimonial p {
  font-size: 30px;
}
#contact h2 {
  padding-bottom: 40px;
}
#contact .contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#contact .contact-info .group span {
  display: block;
  text-align: left;
}
#contact .contact-info .group #footer-logo {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}
#footer {
  border-top: 1px solid #e7e7e7;
}
#footer .container {
  display: flex;
  justify-content: space-between;
}
#footer .container .company a {
  color: #000;
  text-decoration: none;
}
#footer .container .company a:hover {
  color: #000;
}
.carousel-control-prev {
  left: -150px;
}
.carousel-control-next {
  right: -150px;
}
